image: docker

services:
    - docker:dind

stages:
    - test
    - deploy
    - release

test:
    stage: test
    image: python:3.9-alpine
    only:
        - master
        - development
    before_script:
        - docker system prune --force
        - pip install docker-compose
        - docker-compose up -d --build
    script:
        - docker exec researchpracticum_app_1 sh -c "python manage.py test --keepdb"
    
Lint-test:
    stage: test
    image: python:3.9-alpine
    script:
        - bash -c "pip install flake8"
        - bash -c "flake8"
    allow_failure: true

deploy:
    image: python:3.9-alpine
    stage: deploy
    only:
        - development
    script:
        - docker system prune --force
        - docker-compose -f docker-compose-deploy.yml up --build -d

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG                  # Run this job when a tag is created manually
  script:
    - echo "Running the release job."
  release:
    tag_name: $CI_COMMIT_TAG
    name: 'Release $CI_COMMIT_TAG'
    description: 'Release created using the release-cli.'