<div class="register">
<h1 style="text-align:center;"> Register </h1>
<form id="register-form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="user-email" id="register-email" aria-describedby="emailHelp">
    <span id="register-email-validation-text"></span>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password"  name="user-password" class="form-control" id="register-password">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="password"  name="user-password" class="form-control" id="confirm-register-password">
  </div>
  <span id="password-validation-text"></span>
  <button type="button" id="register-button" name="register-button" class="btn btn-primary">Register</button>
  <button type="button" id="reg-to-login" class="btn btn-sm btn-auth-change">Login Instead</button>
</form>
<h1> final test </h1>
    
</div>
