/* Styles for displaying the weather */

/* Desktop Version */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.header-section{
    text-align: center;
}
.current-weather-container{
    padding: 5px 5px;
    color:#fff;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 15px;
}

#current-weather-icon{
    margin: auto;
}

.current-info .icon{
    margin: auto;
}
.current-info .details{
    display: flex;
    flex-direction: column;
    width: 20vw;
    background: rgb(73, 73, 73);
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid #eee;
    font-size: medium;
}

.current-info .condition{
    margin: auto;
    color: black;
    font-size: large;
    text-transform: capitalize;
}

.current-info .details .weather-detail{
    display: flex;
    justify-content: space-between;
}

.forecast-container{
    display: flex;
    overflow-x: auto;
    background-color: rgb(73, 73, 73);;
}

.forecast-element{
    text-align: center;
    background-color: rgb(152, 152, 152);
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: medium;
}

.forecast-element:first-child{
    margin-left: 10px;
}

@media screen and (max-width: 1000px) {
    .current-info .details{
        display: flex;
        flex-direction: column;
        min-width: 65vw;
        background: rgb(73, 73, 73);
        padding: 10px;
        border-radius: 10px;
        margin: auto;
        border: 1px solid #eee;
        font-size: medium;
    }    
}