<div class="app-bar-app co2">
<h1 style="text-align:center;">Emissions Saved</h1>
<p style="text-align:center;font-size:13px;">Here we include how much emissions you have saved using public transport. 
When you search for a route and take the route, you can click to save this route within your savings.
Your savings will be kept during your current session but if you want to make sure this data isn't lost 
then click the profile icon and make an account with us! Dont worry, we will automatically add any current savings to your account on registration.</p>
<div class="jumbotron jumbotron-fluid">
<h1 style="text-align:center;" class="co2-saved"> </h1>
</div>
</div>