<div class="app-bar-app co2">
<h1 style="text-align:center;" class="app-bar-header">Emissions</h1>
<p class="app-bar-body emission-body">
Here we include how much emissions you have saved using public transport. 
Click the confirm route button to save your saved emissions after searching for a route.
</p>
<p class="app-bar-body emission-body">
If you want to make sure this data isn't lost be sure to make an account with us! 
</p>
<p class="app-bar-body emission-body">
Dont worry, we will automatically add any current savings to your account on registration.
</p>

<div class="mt-3 p-3 bg-secondary text-white rounded">
<h1 style="text-align:center;" class="co2-saved"> </h1>
</div>
</div>