<div class="app-bar-app weather">
<h1 style="text-align:center;color:white;"> It's probably raining. </h1>

<i class="fa-solid fa-sun weather-icon fa-3x"></i>
<i class="fa-solid fa-cloud weather-icon fa-3x"></i>
<i class="fa-solid fa-cloud-rain weather-icon fa-3x"></i>
<i class="fa-solid fa-cloud-bolt weather-icon fa-3x"></i>
<i class="fa-solid fa-cloud-showers-heavy weather-icon fa-3x"></i>
<i class="fa-solid fa-cloud-sun weather-icon fa-3x"></i>
<i class="fa-solid fa-poo-storm weather-icon fa-3x"></i>
<i class="fa-solid fa-smog weather-icon fa-3x"></i>


</div>