<div class="loadingAnimation"><p>Loading . . . .</p></div>
<div  class='busInfo flex-item'>
    <!-- Flexbox container that controls the overall alignment of all elements -->
    <div class="busInfo-container">
        <!-- Flexbox container which contains all bus infos items -->
        <div class="busInfo-items-container"></div>
        <!-- Flexbox container which contains the control elements -->
        <div class="busInfo-controls-container"></div>
    </div>
</div>

<!--
<div class="busInfo-controls-element">
    <button type='button' id='busInfoBtn' class='btn btn-dark btn-sm'>Back</button>            
</div>
<div class="busInfo-controls-element">
    <button type='button' id='confirm' class='btn btn-dark btn-sm'>Confirm</button>            
</div>
-->