<div class="searchbar">


    <form id="form1">
            <p>From:</p>
            <div class="input">
              <input id="search_start" type="text" class="form-control" placeholder="Enter your position" >
            </div>

            <p>To:</p>
            <div class="input">
              <input id="search_destination" type="text" class="form-control" placeholder="Enter your destination" >
            </div>

            <p>When:</p>
            <div class="input">
              <input id="time_of_travel" type="datetime-local" class="form-control" >
            </div>

    </form><br><br>


    <button id="btn">Click me</button>



</div>


