<div class="searchbar flex-item">


    <form id="form1">
          <div class="search-div">
            <p class="search-text">From:</p>

            
            <div class="input">
              <input id="search_start" type="text" class="form-control search-input" placeholder="Enter your position" >
              <button type="button" class="btn btn-outline-secondary btn-sm location-btn" onclick="getLocation()">Get My Location</button>
           </div>
          </div>

          <div class="search-div">
            <p class="search-text">To:</p>
            <div class="input">
              <input id="search_destination" type="text" class="form-control search-input" placeholder="Enter your destination" >
            </div>
          </div>

          <div class="search-div">
            <p class="search-text">When:</p>
            <div class="input">
              <input id="time_of_travel" type="datetime-local" class="form-control search-input" >
            </div>
            </div>
          
    </form><br><br>


    <button id="btn" class="btn btn-dark form-btn">Find Best Routes</button>

    <!-- This button is only for debugging purposes! -->
    <div>
      <button id="btn_getPrediction" class="btn btn-dark form-btn">Get Prediction</button>
    </div>
</div>


