{% extends 'base.html' %}
{% load static %}



<!-- Not used at the moment DG -->
{% block css %} 
    <link rel="stylesheet" href= "{% static 'styles.css' %}">
{% endblock css %}

<div class="flex-container">
{% block appbar %}
    {% include 'include/appbar.html' %}
{% endblock appbar %}

{% block toolbar %}
    {% include 'include/toolbar.html' %}
{% endblock toolbar %}

{% block searchbar %}
    {% include 'include/searchbar.html' %}
{% endblock searchbar %}

{% block busInfobar %}
    {% include 'include/busInfobar.html' %}
{% endblock busInfobar %}

{% block map %}
<div id="map">

</div>
  {% if loggedIn == True %}
<script>
    $(".register").hide();
    $(".logout").show();
    $(".login").hide();
</script>
        {% else %}
<script>
    $(".register").show();
    $(".logout").hide();
    $(".login").hide();
</script>
        {% endif %}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&callback=initMap&v=weekly&v=weekly&libraries=geometry&libraries=places">
      
</script>



{% endblock map %}
